*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

 
.btn-modify{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#output{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
    margin: auto;
    width: 70%;
    height: 35%;
    background : linear-gradient( rgb(2, 112, 2),rgb(49, 219, 49));
    border-radius: 20px;
    color: black;
    font-weight: 500;
    outline: white solid 4px;
    outline-style:inset;
    outline-offset: 4px;
}

.btn{
    width: 20%;
    font-size: 25px;
}
.h1 {
    margin-top: 10px;
 text-align: center;
 color: red;
}

@media  screen and (max-width:550px) {
    .modif{
        height:15rem;
        margin-top: none;
    }
    .container{
        height: 40vh;
        align-items: center;
    }

    .btn{
        width: 25%;
        height: 4rem;
    }

    #output{
        width: 70%;
    height: 20%;
    font-size: 4em;
    }
}