*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.modify{
    margin-top: 2rem;
    height:70%;
    width: 90%;
    display: flex;
    justify-content: end;
}
.btn-modify{
    background-color: rgb(199, 150, 244);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
     
}

#output{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
    margin: auto;
    width: 70%;
    height: 35%;
    background-color: rgb(88, 230, 88);
}

.btn{
    width: 20%;

}
.h1 {
    margin-top: 10px;
 text-align: center;
 color: red;
}

@media  screen and (max-width:550px) {
    .modif{
        height:15rem;
        margin-top: none;
    }
    .container{
        height: 40vh;
        align-items: center;
    }

    .btn{
        width: 25%;
        height: 4rem;
    }

    #output{
        width: 70%;
    height: 20%;
    font-size: 4em;
    }
}